<div class="content">
    <h2>Manage Tags</h2>
    <%= button_to "Back", show_user_recipes_path(@user_id), method: :get %>
    <h3><%= @recipe_name %></h3>
    <div class="inner-content">
        <%# List the tags %>
        <ul>
            <% @tags.each do |id, name| %>
                <li><%= link_to name, delete_recipe_tag_path(tag_id: id), method: :delete %></li>
            <% end %>
        </ul>
        <%= form_tag '/tags', method: 'post' do %>
            <%= text_field_tag :tag_name, "Tag Name" %>
            <%= hidden_field_tag :recipe_id, @recipe %>
            <br />
            <%= submit_tag "Add Tag" %>
        <% end %>
    </div>
</div>
