<div class="edit_user">
  <div class="container">
    <div class="form">

        <h1>Change Your Password</h1>
        <%= button_to "Back", edit_users_path(@user.id), :method => :get %>
        <br />
        <%= form_for @user, as: :user, url: change_password_path, method: :patch do |u| %>
        <%= u.label :password, "Old Password" %>
        <%= u.password_field :password %>
        <br />
        <%= u.label :new_password, "New Password" %>
        <%= u.password_field :new_password %>
        <br />
        <%= u.label :password_confirmation, "Confirm New Password" %>
        <%= u.password_field :password_confirmation %>
        <br />
        <%= u.submit "Save", class: 'btn-submit' %>
        <% end %>

    </div>
  </div>
</div>