<div class="content">
    <h2>Your Recipes</h2>
    <%= button_to "Back", dashboard_path, method: :get %>
    <%= form_tag(get_new_user_recipe_path(@user.id), method: "post") do  %>
        <%= submit_tag "Add New Recipe"  %>
        <%= autocomplete_field_tag 'tags', '', autocomplete_tag_name_users_path, placeholder: "Tags" %>
    <% end %>
    <%# Only list recipes if the user has active ones %>
	<% if @recipes.length > 0 %>
		<% @recipes.each do |recipe| %>
			<div class="inner-content">
				<h3><%= recipe.name %></h3>
				<a href="<%= recipe.url %>"><%= recipe.url %></a>
				<%= button_to "Delete and Replace With New Recipe",  delete_and_get_new_user_recipe_path(@user.id, recipe.id), method: :post %>
				<%= button_to "Delete", delete_user_recipe_path(@user.id, recipe.id), method: :delete %>
                <%= button_to "Manage Tags", show_recipe_tags_path(@user.id, recipe.id), method: :get %>
                <%# List the recipe's items %>
				<ul>
				<% recipe.recipe_items.pluck(:name).each do |item| %>
					<li><%= item %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
    <%# The user can get to this page without recipes by deleting them all, so fail gracefully %>
	<% else %>
		<div class="inner-content">
			<h3>No recipes</h3>
		</div>
	<% end %>
</div>
