<%= button_to "Add New Recipe", get_new_user_recipe_path, method: :post %>
<% @recipes.each do |recipe| %>
<p>
	<h4><%= recipe.name %></h4>
	<a href="<%= recipe.url %>"><%= recipe.url %></a>
	<%= button_to "Delete and Replace With New Recipe",  delete_and_get_new_user_recipe_path(@user.id, recipe.id), method: :post %>
	<%= button_to "Delete", delete_user_recipe_path(@user.id, recipe.id), method: :delete %>
	<ul>
	<% recipe.recipe_items.pluck(:name).each do |item| %>
		<li><%= item %></li>
	<% end %>
	</ul>
</p>
<% end %>