<%# The log-in page %>
<div class="login">
    <div class="form">

    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %> 
    <%= f.email_field :email, :placeholder => "Email" %> 
    <%= f.password_field :password, :placeholder => "Password" %> 
    <%= f.submit "Log in", class: "btn-submit" %>
    <% end %>

    <br /><br />
    <%= google_sign_in(url: session_path) do %>
        # You can replace this with whatever design you please for the button.
        # You should follow Google's brand guidelines for Google Sign-In, though:
        # https://developers.google.com/identity/branding-guidelines
        <%= button_tag("Signin with Google") %>
    <% end %>
    
    </div>
</div>