<!DOCTYPE html>
<html>
  <head>
    <title>RecipesServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h2>Michael's Recipe App</h2> 
  	<%= button_to "Dashboard", dashboard_path(:id => 1), method: :get %>
  	<br />
    <%= yield %>
  </body>
</html>
