<!DOCTYPE html>
<html>
  <head>
    <title>RecipesServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h2>Michael's Recipe App</h2> 
    <% if current_user %>
  	    <%= button_to "Dashboard", dashboard_path(:id => session[:user_id]), method: :get %>
        <%= button_to "Logout", '/logout', method: :delete %>
    <% end %>
  	<br />
    <%= yield %>
  </body>
</html>
