<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= ENV["APP_NAME"] %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%# The menu %>
    <div class="menu">

      <%# Only display the login and login page links if the user isn't signed in %>
      <% if not current_user %>
          <h1 class="title"><%= ENV["APP_NAME"] %></h1> 
          <%= button_to 'Sign Up', '/', method: :get %>
          <%= button_to "Login", '/', method: :get %>
      <% end %>

      <%# If the user is logged in, give them options to log out, edit their profile, and go to their dashboard %>
      <% if current_user %>
          <h1 class="title"><%= link_to ENV["APP_NAME"], dashboard_path(:id => cookies.signed[:user_id]), method: :get %></h1> 
          <%= button_to "Logout", '/logout', method: :delete %>
    	  <%= button_to "Home", dashboard_path(:id => cookies.signed[:user_id]), method: :get %>
      <% end %>
    	<br />
        <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
    </div>

    <%# The rest of the page %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
